!pip install llama-index google-generativeai pinecone-client
!pip install llama-index
!pip install google-generativeai
!pip install pinecone-client
!pip install llama-index-llms-gemini
!pip install llama-index-embeddings-gemini
!pip install llama-index-vector-stores-pinecone
!pip install llama-index-readers-file
!pip install llama-index-llms-openai
